WinFormClient/Connected Services/ServiceY/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceY/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceX" />
  <xs:element name="getContracts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getContractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceX" minOccurs="0" name="getContractsResult" nillable="true" type="q1:ArrayOfContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="refreshStationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="refreshStationListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceX" minOccurs="0" name="getAllStationsResult" nillable="true" type="q2:ArrayOfVelibStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="station" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="geocodingAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="geocodingAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceX" minOccurs="0" name="geocodingAddressResult" nillable="true" type="q3:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="computeNearestStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceX" minOccurs="0" name="pos" nillable="true" type="q4:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="computeNearestStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceX" minOccurs="0" name="computeNearestStationResult" nillable="true" type="q5:VelibStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getURIOfSegment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dep_lat" type="xs:double" />
        <xs:element minOccurs="0" name="dep_lng" type="xs:double" />
        <xs:element minOccurs="0" name="arr_lat" type="xs:double" />
        <xs:element minOccurs="0" name="arr_lng" type="xs:double" />
        <xs:element minOccurs="0" name="transportation_way" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getURIOfSegmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getURIOfSegmentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>