WinFormClient/Connected Services/ServiceY/RequestY.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RequestY" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceY/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceY/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceY/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceX" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceY/Service1/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRequestY_getContracts_InputMessage">
    <wsdl:part name="parameters" element="tns:getContracts" />
  </wsdl:message>
  <wsdl:message name="IRequestY_getContracts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getContractsResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestY_refreshStationList_InputMessage">
    <wsdl:part name="parameters" element="tns:refreshStationList" />
  </wsdl:message>
  <wsdl:message name="IRequestY_refreshStationList_OutputMessage">
    <wsdl:part name="parameters" element="tns:refreshStationListResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestY_getAllStations_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllStations" />
  </wsdl:message>
  <wsdl:message name="IRequestY_getAllStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestY_GetStation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStation" />
  </wsdl:message>
  <wsdl:message name="IRequestY_GetStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestY_geocodingAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:geocodingAddress" />
  </wsdl:message>
  <wsdl:message name="IRequestY_geocodingAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:geocodingAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestY_computeNearestStation_InputMessage">
    <wsdl:part name="parameters" element="tns:computeNearestStation" />
  </wsdl:message>
  <wsdl:message name="IRequestY_computeNearestStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:computeNearestStationResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestY_getURIOfSegment_InputMessage">
    <wsdl:part name="parameters" element="tns:getURIOfSegment" />
  </wsdl:message>
  <wsdl:message name="IRequestY_getURIOfSegment_OutputMessage">
    <wsdl:part name="parameters" element="tns:getURIOfSegmentResponse" />
  </wsdl:message>
  <wsdl:portType name="IRequestY">
    <wsdl:operation name="getContracts">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestY/getContracts" message="tns:IRequestY_getContracts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestY/getContractsResponse" message="tns:IRequestY_getContracts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="refreshStationList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestY/refreshStationList" message="tns:IRequestY_refreshStationList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestY/refreshStationListResponse" message="tns:IRequestY_refreshStationList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestY/getAllStations" message="tns:IRequestY_getAllStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestY/getAllStationsResponse" message="tns:IRequestY_getAllStations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestY/GetStation" message="tns:IRequestY_GetStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestY/GetStationResponse" message="tns:IRequestY_GetStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="geocodingAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestY/geocodingAddress" message="tns:IRequestY_geocodingAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestY/geocodingAddressResponse" message="tns:IRequestY_geocodingAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="computeNearestStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestY/computeNearestStation" message="tns:IRequestY_computeNearestStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestY/computeNearestStationResponse" message="tns:IRequestY_computeNearestStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getURIOfSegment">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestY/getURIOfSegment" message="tns:IRequestY_getURIOfSegment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestY/getURIOfSegmentResponse" message="tns:IRequestY_getURIOfSegment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPendpoint" type="tns:IRequestY">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getContracts">
      <soap:operation soapAction="http://tempuri.org/IRequestY/getContracts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="refreshStationList">
      <soap:operation soapAction="http://tempuri.org/IRequestY/refreshStationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllStations">
      <soap:operation soapAction="http://tempuri.org/IRequestY/getAllStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStation">
      <soap:operation soapAction="http://tempuri.org/IRequestY/GetStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="geocodingAddress">
      <soap:operation soapAction="http://tempuri.org/IRequestY/geocodingAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="computeNearestStation">
      <soap:operation soapAction="http://tempuri.org/IRequestY/computeNearestStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getURIOfSegment">
      <soap:operation soapAction="http://tempuri.org/IRequestY/getURIOfSegment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RequestY">
    <wsdl:port name="SOAPendpoint" binding="tns:SOAPendpoint">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceY/Service1/SOAPendpoint" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>