ServiceY/Connected Services/ServiceX/Request.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Request" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceX/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceX/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceX/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceX" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceX/Service1/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRequest_getCountRefresh_InputMessage">
    <wsdl:part name="parameters" element="tns:getCountRefresh" />
  </wsdl:message>
  <wsdl:message name="IRequest_getCountRefresh_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCountRefreshResponse" />
  </wsdl:message>
  <wsdl:message name="IRequest_getContracts_InputMessage">
    <wsdl:part name="parameters" element="tns:getContracts" />
  </wsdl:message>
  <wsdl:message name="IRequest_getContracts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getContractsResponse" />
  </wsdl:message>
  <wsdl:message name="IRequest_refreshStationList_InputMessage">
    <wsdl:part name="parameters" element="tns:refreshStationList" />
  </wsdl:message>
  <wsdl:message name="IRequest_refreshStationList_OutputMessage">
    <wsdl:part name="parameters" element="tns:refreshStationListResponse" />
  </wsdl:message>
  <wsdl:message name="IRequest_getStation_InputMessage">
    <wsdl:part name="parameters" element="tns:getStation" />
  </wsdl:message>
  <wsdl:message name="IRequest_getStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStationResponse" />
  </wsdl:message>
  <wsdl:message name="IRequest_getAllStations_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllStations" />
  </wsdl:message>
  <wsdl:message name="IRequest_getAllStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IRequest_closeConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:closeConnection" />
  </wsdl:message>
  <wsdl:message name="IRequest_closeConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:closeConnectionResponse" />
  </wsdl:message>
  <wsdl:portType name="IRequest">
    <wsdl:operation name="getCountRefresh">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequest/getCountRefresh" message="tns:IRequest_getCountRefresh_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequest/getCountRefreshResponse" message="tns:IRequest_getCountRefresh_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getContracts">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequest/getContracts" message="tns:IRequest_getContracts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequest/getContractsResponse" message="tns:IRequest_getContracts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="refreshStationList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequest/refreshStationList" message="tns:IRequest_refreshStationList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequest/refreshStationListResponse" message="tns:IRequest_refreshStationList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequest/getStation" message="tns:IRequest_getStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequest/getStationResponse" message="tns:IRequest_getStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequest/getAllStations" message="tns:IRequest_getAllStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequest/getAllStationsResponse" message="tns:IRequest_getAllStations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="closeConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequest/closeConnection" message="tns:IRequest_closeConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequest/closeConnectionResponse" message="tns:IRequest_closeConnection_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPendpoint" type="tns:IRequest">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCountRefresh">
      <soap:operation soapAction="http://tempuri.org/IRequest/getCountRefresh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContracts">
      <soap:operation soapAction="http://tempuri.org/IRequest/getContracts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="refreshStationList">
      <soap:operation soapAction="http://tempuri.org/IRequest/refreshStationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStation">
      <soap:operation soapAction="http://tempuri.org/IRequest/getStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllStations">
      <soap:operation soapAction="http://tempuri.org/IRequest/getAllStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="closeConnection">
      <soap:operation soapAction="http://tempuri.org/IRequest/closeConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Request">
    <wsdl:port name="SOAPendpoint" binding="tns:SOAPendpoint">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceX/Service1/SOAPendpoint" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>